.presentation{
  margin-top:0;
  text-align:center;
  padding:4em 2em;
}

.presentation__title{
  font-size:2rem;
}

.presentation p{
  max-width: 50ch;
  margin:0 auto;
}

.presentation img{
  width:20%;
  margin:2em auto;
}